<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>用angular写注册信息</title>
    <style>
        table {
            border: 1px solid #000;
        }

        td {
            border: 1px solid #000;
        }
    </style>
</head>

<body>
    <table ng-app="myApp" ng-controller="myController">
        <tr>
            <td>用户名:</td>
            <td><input type="text" ng-model="username"></td>
        </tr>
        <tr>
            <td>密码:</td>
            <td><input type="text" ng-model="password"></td>
        </tr>
        <tr>
            <td>确认密码:</td>
            <td><input type="text" ng-model="confirm"></td>
        </tr>
        <tr>
            <td>协议:</td>
            <td><input type="checkbox" ng-model="isAgree"></td>
        </tr>
        <tr>
            <td>注册:</td>
            <td><input type="button" value="注册" ng-click="register()"></td>
        </tr>
        <tr>
            <td></td>
            <td>{{msg}}</td>
        </tr>
    </table>
    <script src="node_modules/angular/angular.js"></script>
    <script>
        //console.log(localStorage.getItem("user"))
         var myApp=angular.module("myApp",[]);
         myApp.controller("myController",function($scope){
            $scope.username="";
            $scope.password="";
            $scope.confirm="";
            $scope.isAgree=false;
            $scope.msg="";
            $scope.userArr=[];
            $scope.newArr=[];
            $scope.register=function(){
                
                if($scope.username.length<6){
                    $scope.msg="用户名不能少于6位";
                    return;
                }

                if($scope.password!=$scope.confirm){
                    $scope.msg="两次输入不一样";
                    return;
                }

                if(!$scope.isAgree){
                    $scope.msg="协议未同意";
                    return;
                }
                 
                 console.log($scope.userArr);
                 
                    function istrue(){
                        for(var i=0;i<$scope.userArr.length;i++){
                                var item=$scope.userArr[i];
                                if(item.username == $scope.username){
                                    return false;
                                }
                        }

                        $scope.userArr.push({username:$scope.username,password:$scope.password});
                        return true;
                    }

                    if(istrue()){
                        $scope.msg="ok";
                    }else{
                        $scope.msg="no";
                    }

            }
         })

        
     </script>
</body>

</html>